.galeria{
    background: #f5f5f5;
    padding: 50px 0;
}
.galeria_list{
    text-align: center;
    font-size: 0;
}
.galeria_list li{
    background: #fff;
    width: 100%;
    max-width: 322px;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-top: 0;
}
.galeria_foto{
    height: 240px;
    overflow: hidden;
    position: relative;
}
.galeria_foto img{
    position: relative;
}

/* Responsive */
@media (min-width: 667px){
    .galeria_list li{
        width: 50%;
    }
    .galeria_list li:nth-of-type(2n+0){
        border-left: 0;
    }
}